In [1]:
import ibmos2spark


from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
# Please read the documentation of PySpark to learn more about the possibilities to load data files.
# PySpark documentation: https://spark.apache.org/docs/2.0.1/api/python/pyspark.sql.html#pyspark.sql.SparkSession
# The SparkSession object is already initialized for you.
# The following variable contains the path to your file on your IBM Cloud Object Storage.
hello_file = cos.url('hello.txt', 'cs340spring20184b12f92a8d204278af3959660617b691')

In [2]:
rdd = sc.textFile(hello_file)

In [3]:
rdd.collect()

['hello', 'world', 'I', 'am', 'ahmed']

In [4]:
rdd.count()

5

In [5]:
s = "heloo"

In [6]:
rdd.map(lambda x: (x, len(x)-len(x.replace("h","")))).reduce(lambda x,y : x+y)

('hello', 1, 'world', 0, 'I', 0, 'am', 0, 'ahmed', 1)

# Let's get started!

In [7]:
books = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('books.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
books.take(5)

[Row(id='1', book_id='2767052', best_book_id='2767052', work_id='2792775', books_count='272', isbn='439023483', isbn13='9.78043902348e+12', authors='Suzanne Collins', original_publication_year='2008.0', original_title='The Hunger Games', title='The Hunger Games (The Hunger Games, #1)', language_code='eng', average_rating='4.34', ratings_count='4780653', work_ratings_count='4942365', work_text_reviews_count='155254', ratings_1='66715', ratings_2='127936', ratings_3='560092', ratings_4='1481305', ratings_5='2706317', image_url='https://images.gr-assets.com/books/1447303603m/2767052.jpg', small_image_url='https://images.gr-assets.com/books/1447303603s/2767052.jpg'),
 Row(id='2', book_id='3', best_book_id='3', work_id='4640799', books_count='491', isbn='439554934', isbn13='9.78043955493e+12', authors='J.K. Rowling, Mary GrandPr√©', original_publication_year='1997.0', original_title="Harry Potter and the Philosopher's Stone", title="Harry Potter and the Sorcerer's Stone (Harry Potter, #1)", language_code='eng', average_rating='4.44', ratings_count='4602479', work_ratings_count='4800065', work_text_reviews_count='75867', ratings_1='75504', ratings_2='101676', ratings_3='455024', ratings_4='1156318', ratings_5='3011543', image_url='https://images.gr-assets.com/books/1474154022m/3.jpg', small_image_url='https://images.gr-assets.com/books/1474154022s/3.jpg'),
 Row(id='3', book_id='41865', best_book_id='41865', work_id='3212258', books_count='226', isbn='316015849', isbn13='9.78031601584e+12', authors='Stephenie Meyer', original_publication_year='2005.0', original_title='Twilight', title='Twilight (Twilight, #1)', language_code='en-US', average_rating='3.57', ratings_count='3866839', work_ratings_count='3916824', work_text_reviews_count='95009', ratings_1='456191', ratings_2='436802', ratings_3='793319', ratings_4='875073', ratings_5='1355439', image_url='https://images.gr-assets.com/books/1361039443m/41865.jpg', small_image_url='https://images.gr-assets.com/books/1361039443s/41865.jpg'),
 Row(id='4', book_id='2657', best_book_id='2657', work_id='3275794', books_count='487', isbn='61120081', isbn13='9.78006112008e+12', authors='Harper Lee', original_publication_year='1960.0', original_title='To Kill a Mockingbird', title='To Kill a Mockingbird', language_code='eng', average_rating='4.25', ratings_count='3198671', work_ratings_count='3340896', work_text_reviews_count='72586', ratings_1='60427', ratings_2='117415', ratings_3='446835', ratings_4='1001952', ratings_5='1714267', image_url='https://images.gr-assets.com/books/1361975680m/2657.jpg', small_image_url='https://images.gr-assets.com/books/1361975680s/2657.jpg'),
 Row(id='5', book_id='4671', best_book_id='4671', work_id='245494', books_count='1356', isbn='743273567', isbn13='9.78074327356e+12', authors='F. Scott Fitzgerald', original_publication_year='1925.0', original_title='The Great Gatsby', title='The Great Gatsby', language_code='eng', average_rating='3.89', ratings_count='2683664', work_ratings_count='2773745', work_text_reviews_count='51992', ratings_1='86236', ratings_2='197621', ratings_3='606158', ratings_4='936012', ratings_5='947718', image_url='https://images.gr-assets.com/books/1490528560m/4671.jpg', small_image_url='https://images.gr-assets.com/books/1490528560s/4671.jpg')]

In [8]:
books.show()

+---+--------+------------+--------+-----------+----------+-----------------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
| id| book_id|best_book_id| work_id|books_count|      isbn|           isbn13|             authors|original_publication_year|      original_title|               title|language_code|average_rating|ratings_count|work_ratings_count|work_text_reviews_count|ratings_1|ratings_2|ratings_3|ratings_4|ratings_5|           image_url|     small_image_url|
+---+--------+------------+--------+-----------+----------+-----------------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
|  1| 2767052|     2767052| 2792775|        272| 439023483|9.78043902348e+12|     Suzanne Collins|                   2008.0|    The Hunger Games|The Hunger Games ...|          eng|          4.34|      4780653|           4942365|                 155254|    66715|   127936|   560092|  1481305|  2706317|https://images.gr...|https://images.gr...|
|  2|       3|           3| 4640799|        491| 439554934|9.78043955493e+12|J.K. Rowling, Mar...|                   1997.0|Harry Potter and ...|Harry Potter and ...|          eng|          4.44|      4602479|           4800065|                  75867|    75504|   101676|   455024|  1156318|  3011543|https://images.gr...|https://images.gr...|
|  3|   41865|       41865| 3212258|        226| 316015849|9.78031601584e+12|     Stephenie Meyer|                   2005.0|            Twilight|Twilight (Twiligh...|        en-US|          3.57|      3866839|           3916824|                  95009|   456191|   436802|   793319|   875073|  1355439|https://images.gr...|https://images.gr...|
|  4|    2657|        2657| 3275794|        487|  61120081|9.78006112008e+12|          Harper Lee|                   1960.0|To Kill a Mocking...|To Kill a Mocking...|          eng|          4.25|      3198671|           3340896|                  72586|    60427|   117415|   446835|  1001952|  1714267|https://images.gr...|https://images.gr...|
|  5|    4671|        4671|  245494|       1356| 743273567|9.78074327356e+12| F. Scott Fitzgerald|                   1925.0|    The Great Gatsby|    The Great Gatsby|          eng|          3.89|      2683664|           2773745|                  51992|    86236|   197621|   606158|   936012|   947718|https://images.gr...|https://images.gr...|
|  6|11870085|    11870085|16827462|        226| 525478817|9.78052547881e+12|          John Green|                   2012.0|The Fault in Our ...|The Fault in Our ...|          eng|          4.26|      2346404|           2478609|                 140739|    47994|    92723|   327550|   698471|  1311871|https://images.gr...|https://images.gr...|
|  7|    5907|        5907| 1540236|        969| 618260307| 9.7806182603e+12|      J.R.R. Tolkien|                   1937.0|The Hobbit or The...|          The Hobbit|        en-US|          4.25|      2071616|           2196809|                  37653|    46023|    76784|   288649|   665635|  1119718|https://images.gr...|https://images.gr...|
|  8|    5107|        5107| 3036731|        360| 316769177|9.78031676917e+12|       J.D. Salinger|                   1951.0|The Catcher in th...|The Catcher in th...|          eng|          3.79|      2044241|           2120637|                  44920|   109383|   185520|   455042|   661516|   709176|https://images.gr...|https://images.gr...|
|  9|     960|         960| 3338963|        311|1416524797|9.78141652479e+12|           Dan Brown|                   2000.0|    Angels & Demons |Angels & Demons  ...|        en-CA|          3.85|      2001311|           2078754|                  25112|    77841|   145740|   458429|   716569|   680175|https://images.gr...|https://images.gr...|
| 10|    1885|        1885| 3060926|       3455| 679783261|9.78067978327e+12|         Jane Austen|                   1813.0| Pride and Prejudice| Pride and Prejudice|          eng|          4.24|      2035490|           2191465|                  49152|    54700|    86485|   284852|   609755|  1155673|https://images.gr...|https://images.gr...|
| 11|   77203|       77203| 3295919|        283|1594480001|   9.78159448e+12|     Khaled Hosseini|                   2003.0|    The Kite Runner |     The Kite Runner|          eng|          4.26|      1813044|           1878095|                  59730|    34288|    59980|   226062|   628174|   929591|https://images.gr...|https://images.gr...|
| 12|13335037|    13335037|13155899|        210|  62024035|9.78006202404e+12|       Veronica Roth|                   2011.0|           Divergent|Divergent (Diverg...|          eng|          4.24|      1903563|           2216814|                 101023|    36315|    82870|   310297|   673028|  1114304|https://images.gr...|https://images.gr...|
| 13|    5470|        5470|  153313|        995| 451524934|9.78045152494e+12|George Orwell, Er...|                   1949.0|Nineteen Eighty-Four|                1984|          eng|          4.14|      1956832|           2053394|                  45518|    41845|    86425|   324874|   692021|   908229|https://images.gr...|https://images.gr...|
| 14|    7613|        7613| 2207778|        896| 452284244|9.78045228424e+12|       George Orwell|                   1945.0|Animal Farm: A Fa...|         Animal Farm|          eng|          3.87|      1881700|           1982987|                  35472|    66854|   135147|   433432|   698642|   648912|https://images.gr...|https://images.gr...|
| 15|   48855|       48855| 3532896|        710| 553296981|9.78055329698e+12|Anne Frank, Elean...|                   1947.0|Het Achterhuis: D...|The Diary of a Yo...|          eng|           4.1|      1972666|           2024493|                  20825|    45225|    91270|   355756|   656870|   875372|https://images.gr...|https://images.gr...|
| 16| 2429135|     2429135| 1708725|        274| 307269752|9.78030726975e+12|Stieg Larsson, Re...|                   2005.0|M√§n som hatar kvi...|The Girl with the...|          eng|          4.11|      1808403|           1929834|                  62543|    54835|    86051|   285413|   667485|   836050|https://images.gr...|https://images.gr...|
| 17| 6148028|     6148028| 6171458|        201| 439023491| 9.7804390235e+12|     Suzanne Collins|                   2009.0|       Catching Fire|Catching Fire (Th...|          eng|           4.3|      1831039|           1988079|                  88538|    10492|    48030|   262010|   687238|   980309|https://images.gr...|https://images.gr...|
| 18|       5|           5| 2402163|        376|043965548X|9.78043965548e+12|J.K. Rowling, Mar...|                   1999.0|Harry Potter and ...|Harry Potter and ...|          eng|          4.53|      1832823|           1969375|                  36099|     6716|    20413|   166129|   509447|  1266670|https://images.gr...|https://images.gr...|
| 19|      34|          34| 3204327|        566| 618346252|9.78061834626e+12|      J.R.R. Tolkien|                   1954.0| The Fellowship o...|The Fellowship of...|          eng|          4.34|      1766803|           1832541|                  15333|    38031|    55862|   202332|   493922|  1042394|https://images.gr...|https://images.gr...|
| 20| 7260188|     7260188| 8812783|        239| 439023513|9.78043902351e+12|     Suzanne Collins|                   2010.0|          Mockingjay|Mockingjay (The H...|          eng|          4.03|      1719760|           1870748|                  96274|    30144|   110498|   373060|   618271|   738775|https://images.gr...|https://images.gr...|
+---+--------+------------+--------+-----------+----------+-----------------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
only showing top 20 rows

In [9]:
books.columns

['id',
 'book_id',
 'best_book_id',
 'work_id',
 'books_count',
 'isbn',
 'isbn13',
 'authors',
 'original_publication_year',
 'original_title',
 'title',
 'language_code',
 'average_rating',
 'ratings_count',
 'work_ratings_count',
 'work_text_reviews_count',
 'ratings_1',
 'ratings_2',
 'ratings_3',
 'ratings_4',
 'ratings_5',
 'image_url',
 'small_image_url']

In [10]:
books.select(["id","book_id","isbn","original_title","language_code","average_rating"]).show()

+---+--------+----------+--------------------+-------------+--------------+
| id| book_id|      isbn|      original_title|language_code|average_rating|
+---+--------+----------+--------------------+-------------+--------------+
|  1| 2767052| 439023483|    The Hunger Games|          eng|          4.34|
|  2|       3| 439554934|Harry Potter and ...|          eng|          4.44|
|  3|   41865| 316015849|            Twilight|        en-US|          3.57|
|  4|    2657|  61120081|To Kill a Mocking...|          eng|          4.25|
|  5|    4671| 743273567|    The Great Gatsby|          eng|          3.89|
|  6|11870085| 525478817|The Fault in Our ...|          eng|          4.26|
|  7|    5907| 618260307|The Hobbit or The...|        en-US|          4.25|
|  8|    5107| 316769177|The Catcher in th...|          eng|          3.79|
|  9|     960|1416524797|    Angels & Demons |        en-CA|          3.85|
| 10|    1885| 679783261| Pride and Prejudice|          eng|          4.24|
| 11|   77203|1594480001|    The Kite Runner |          eng|          4.26|
| 12|13335037|  62024035|           Divergent|          eng|          4.24|
| 13|    5470| 451524934|Nineteen Eighty-Four|          eng|          4.14|
| 14|    7613| 452284244|Animal Farm: A Fa...|          eng|          3.87|
| 15|   48855| 553296981|Het Achterhuis: D...|          eng|           4.1|
| 16| 2429135| 307269752|M√§n som hatar kvi...|          eng|          4.11|
| 17| 6148028| 439023491|       Catching Fire|          eng|           4.3|
| 18|       5|043965548X|Harry Potter and ...|          eng|          4.53|
| 19|      34| 618346252| The Fellowship o...|          eng|          4.34|
| 20| 7260188| 439023513|          Mockingjay|          eng|          4.03|
+---+--------+----------+--------------------+-------------+--------------+
only showing top 20 rows

# Let's get the average rating per tag

In [11]:
book_tags = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('book_tags.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
book_tags.columns

['goodreads_book_id', 'tag_id', 'count']

In [12]:
book_tags.show()

+-----------------+------+------+
|goodreads_book_id|tag_id| count|
+-----------------+------+------+
|                1| 30574|167697|
|                1| 11305| 37174|
|                1| 11557| 34173|
|                1|  8717| 12986|
|                1| 33114| 12716|
|                1| 11743|  9954|
|                1| 14017|  7169|
|                1|  5207|  6221|
|                1| 22743|  4974|
|                1| 32989|  4364|
|                1| 27199|  3857|
|                1| 11590|  3456|
|                1| 18886|  3374|
|                1|  6953|  2408|
|                1| 22753|  1881|
|                1| 24960|  1821|
|                1|  1691|  1742|
|                1|  6857|  1560|
|                1| 15965|  1309|
|                1|  6888|  1095|
+-----------------+------+------+
only showing top 20 rows

In [14]:
tags_ratings = books.join(book_tags, books['book_id']==book_tags['goodreads_book_id']).select(["book_id","tag_id","average_rating","language_code"])
tags_ratings.show()

+-------+------+--------------+-------------+
|book_id|tag_id|average_rating|language_code|
+-------+------+--------------+-------------+
|      1| 30574|          4.54|          eng|
|      1| 11305|          4.54|          eng|
|      1| 11557|          4.54|          eng|
|      1|  8717|          4.54|          eng|
|      1| 33114|          4.54|          eng|
|      1| 11743|          4.54|          eng|
|      1| 14017|          4.54|          eng|
|      1|  5207|          4.54|          eng|
|      1| 22743|          4.54|          eng|
|      1| 32989|          4.54|          eng|
|      1| 27199|          4.54|          eng|
|      1| 11590|          4.54|          eng|
|      1| 18886|          4.54|          eng|
|      1|  6953|          4.54|          eng|
|      1| 22753|          4.54|          eng|
|      1| 24960|          4.54|          eng|
|      1|  1691|          4.54|          eng|
|      1|  6857|          4.54|          eng|
|      1| 15965|          4.54|          eng|
|      1|  6888|          4.54|          eng|
+-------+------+--------------+-------------+
only showing top 20 rows

In [15]:
book_tags.count()

999912

In [16]:
grouped_tags = tags_ratings.groupBy("tag_id")

In [17]:
grouped_tags.count().show()

+------+-----+
|tag_id|count|
+------+-----+
| 19132|   14|
|   829|  559|
| 18130|  412|
| 19095|    7|
| 22254|    1|
| 23097|    2|
|  2136|  588|
| 31713|   13|
|  2294|  200|
| 32812|  214|
| 28839|   71|
| 13865|   52|
|  2904|   12|
|  7273|   13|
| 27248|   16|
|  8304|   25|
| 27264|    6|
| 29089|   26|
| 21249|   18|
|  9009|    5|
+------+-----+
only showing top 20 rows

In [18]:
grouped_tags.avg("average_rating")

AnalysisException: '"average_rating" is not a numeric column. Aggregation function can only be applied on a numeric column.;'

# "average_rating" is not a numeric column.
## Aggregation function can only be applied on a numeric column.

In [19]:
tags_ratings.printSchema()

root
 |-- book_id: string (nullable = true)
 |-- tag_id: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- language_code: string (nullable = true)

# Cast
<img src='https://preview.ibb.co/iq7s1c/s26c_Z1523345891.jpg'>

In [20]:
average_rating_num = tags_ratings.average_rating.cast('float')
tags_ratings_num = tags_ratings.withColumn("average_rating", average_rating_num)
tags_ratings_num.printSchema()

root
 |-- book_id: string (nullable = true)
 |-- tag_id: string (nullable = true)
 |-- average_rating: float (nullable = true)
 |-- language_code: string (nullable = true)

In [21]:
from pyspark.sql.functions import col, desc

In [22]:
grouped_tags = tags_ratings_num.groupBy("tag_id")
tags_ratings = grouped_tags.avg("average_rating")
tags_ratings = tags_ratings.select([c for c in tags_ratings.columns if 'average_rating' not in c]
                                   +[col("avg(average_rating)").alias("tag_rating")])\
                            .sort(desc("tag_rating"))
tags_ratings.show()

+------+-----------------+
|tag_id|       tag_rating|
+------+-----------------+
| 14674|4.775000095367432|
|  6833|4.769999980926514|
| 32803|4.769999980926514|
|  5574|4.769999980926514|
|  4319|4.769999980926514|
| 18890|4.769999980926514|
| 15306|4.769999980926514|
| 28760|4.769999980926514|
|  4431|4.760000228881836|
|  5415|4.760000228881836|
| 28859|4.760000228881836|
| 32085|4.760000228881836|
|  7114|4.760000228881836|
| 30242|4.760000228881836|
| 13369|4.760000228881836|
|   120|4.760000228881836|
| 28858|4.760000228881836|
| 26967|4.760000228881836|
|  4430|4.760000228881836|
|  4449|4.760000228881836|
+------+-----------------+
only showing top 20 rows

# Nulls
<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSSnyVc-eOyJkTfr7sY6n9fA0pd-jP2jrFpc3Yuf0P3FpDiuUC' width='50%' height='50%'>

In [23]:
tags_ratings.count()

34252

In [24]:
tags_ratings = tags_ratings.where(tags_ratings.tag_rating.isNotNull())
tags_ratings.count()

34243

In [25]:
tags_data = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('tags.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
tags_data.show()

+------+--------------------+
|tag_id|            tag_name|
+------+--------------------+
|     0|                   -|
|     1|                --1-|
|     2|               --10-|
|     3|               --12-|
|     4|              --122-|
|     5|              --166-|
|     6|               --17-|
|     7|               --19-|
|     8|                --2-|
|     9|              --258-|
|    10|                --3-|
|    11|               --33-|
|    12|                --4-|
|    13|                --5-|
|    14|               --51-|
|    15|                --6-|
|    16|               --62-|
|    17|                --8-|
|    18|               --99-|
|    19|--available-at-ra...|
+------+--------------------+
only showing top 20 rows

In [26]:
tags_ratings.join(tags_data, on="tag_id").show()

+------+-----------------+--------------------+
|tag_id|       tag_rating|            tag_name|
+------+-----------------+--------------------+
| 14674|4.775000095367432|              hobbes|
| 28760|4.769999980926514|          stormlight|
| 18890|4.769999980926514|       magic-is-real|
|  5574|4.769999980926514|              boxset|
| 15306|4.769999980926514|         imaginative|
| 32803|4.769999980926514|         world-shift|
|  4319|4.769999980926514|best-books-i-have...|
|  6833|4.769999980926514|   childhood-classic|
| 32085|4.760000228881836|    want-my-own-copy|
|  4449|4.760000228881836|     biblical-novels|
|  7114|4.760000228881836| christian-favorites|
|   277|4.760000228881836|    101-bibles-tools|
| 28858|4.760000228881836|         study-bible|
| 10992|4.760000228881836|  everyone-must-read|
|  5415|4.760000228881836| books-to-read-later|
| 13369|4.760000228881836|         good-enough|
|  5282|4.760000228881836|books-in-my-perso...|
|  4431|4.760000228881836|bible-commentary-...|
|   120|4.760000228881836|             05ip9hg|
|  7128|4.760000228881836|      christian-help|
+------+-----------------+--------------------+
only showing top 20 rows