## 1) Reliable Users


<img src='http://www.indiaeducation.net/imagesvr_ce/698/Critics%201.jpg' />
<p style="text-indent: 40px">For the first part of this assignment you should find out the top 1000 reliable users. In order to do that you would need tags' relevance score from genome-scores.csv file. Assuming the relevance scores of movies' tags in genome-scores.csv are correct, we can find out if a user's tag to a particular movie is relevant or not. If we get the total of those relevance scores for each user then we can rank the them according to this criteria.</p>

<p style="text-indent: 40px">One caveat is that relevance scores are between 0 and 1. We want to scale it between -1 and 1 and also we want to punish more if the issued tag is not relevant. First multiply relevance with 20 and then substract 12 so relevance score range will be between -12 and 8 and then apply hyperbolic tangent. That way relevance's range will be between -1 and 1.</p>

<p style="text-indent: 40px"> Note: You should use PySpark's <b>tanh</b> function. Also use caching appropriately in order to be able to get the results in a reasonable time.</p>
<p style="text-indent: 40px"> Caution: Do not use RDDs. Every operation should be done on the executors not in the driver machine.</p>
<p style="text-indent: 40px">Important: Do not discuss the solution with your friends. <b>Plagiarism</b> will not be tolerated and issue will be referred to the <b>disciplinary committee</b>.</p>

<div>
    <img src="http://image.prntscr.com/image/1f91352835964c31b04be03da7d53581.jpg" width=500>

    <center><strong>Figure 1: Tanh function.</strong></center>
</div>

# Data
#### https://www.kaggle.com/grouplens/movielens-20m-dataset

In [18]:
import ibmos2spark

# @hidden_cell
credentials = {
    'endpoint': 'https://s3-api.us-geo.objectstorage.service.networklayer.com',
    'api_key': 'fH7tipNa2VfJt4LO42GJU2-f65WmKRa0ZYn_H3sUnLU9',
    'service_id': 'iam-ServiceId-5cf22436-1ea4-4a82-8752-22c7e7206d58',
    'iam_service_endpoint': 'https://iam.ng.bluemix.net/oidc/token'}

configuration_name = 'os_b0d31744b6c54747aec215514fff27a4_configs'
cos = ibmos2spark.CloudObjectStorage(sc, credentials, configuration_name, 'bluemix_cos')
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [19]:
tags = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('tag.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
tags.show()

+------+-------+-----------------+-------------------+
|userId|movieId|              tag|          timestamp|
+------+-------+-----------------+-------------------+
|    18|   4141|      Mark Waters|2009-04-24 18:19:40|
|    65|    208|        dark hero|2013-05-10 01:41:18|
|    65|    353|        dark hero|2013-05-10 01:41:19|
|    65|    521|    noir thriller|2013-05-10 01:39:43|
|    65|    592|        dark hero|2013-05-10 01:41:18|
|    65|    668|        bollywood|2013-05-10 01:37:56|
|    65|    898| screwball comedy|2013-05-10 01:42:40|
|    65|   1248|    noir thriller|2013-05-10 01:39:43|
|    65|   1391|             mars|2013-05-10 01:40:55|
|    65|   1617|         neo-noir|2013-05-10 01:43:37|
|    65|   1694|            jesus|2013-05-10 01:38:45|
|    65|   1783|    noir thriller|2013-05-10 01:39:43|
|    65|   2022|            jesus|2013-05-10 01:38:45|
|    65|   2193|           dragon|2013-05-10 02:01:54|
|    65|   2353|conspiracy theory|2013-05-10 02:01:06|
|    65|   2662|             mars|2013-05-10 01:40:55|
|    65|   2726|    noir thriller|2013-05-10 01:39:43|
|    65|   2840|            jesus|2013-05-10 01:38:45|
|    65|   3052|            jesus|2013-05-10 01:38:46|
|    65|   5135|        bollywood|2013-05-10 01:37:56|
+------+-------+-----------------+-------------------+
only showing top 20 rows

In [20]:
genome_tags = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('genome_tags.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
genome_tags.show()

+-----+---------------+
|tagId|            tag|
+-----+---------------+
|    1|            007|
|    2|   007 (series)|
|    3|   18th century|
|    4|          1920s|
|    5|          1930s|
|    6|          1950s|
|    7|          1960s|
|    8|          1970s|
|    9|          1980s|
|   10|   19th century|
|   11|             3d|
|   12|           70mm|
|   13|            80s|
|   14|           9/11|
|   15|        aardman|
|   16|aardman studios|
|   17|       abortion|
|   18|         absurd|
|   19|         action|
|   20|  action packed|
+-----+---------------+
only showing top 20 rows

In [21]:
genome_scores = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('genome_scores.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
genome_scores.show()

+-------+-----+-------------------+
|movieId|tagId|          relevance|
+-------+-----+-------------------+
|      1|    1|              0.025|
|      1|    2|              0.025|
|      1|    3|            0.05775|
|      1|    4|            0.09675|
|      1|    5|            0.14675|
|      1|    6|              0.217|
|      1|    7|              0.067|
|      1|    8|            0.26275|
|      1|    9|              0.262|
|      1|   10|              0.032|
|      1|   11|              0.577|
|      1|   12|            0.11625|
|      1|   13|              0.188|
|      1|   14|0.00800000000000001|
|      1|   15|            0.03675|
|      1|   16|            0.28175|
|      1|   17|0.00700000000000001|
|      1|   18|             0.1105|
|      1|   19|             0.6705|
|      1|   20|             0.1845|
+-------+-----+-------------------+
only showing top 20 rows

In [22]:
ratings = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('rating.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
ratings.show()

+------+-------+------+-------------------+
|userId|movieId|rating|          timestamp|
+------+-------+------+-------------------+
|     1|      2|   3.5|2005-04-02 23:53:47|
|     1|     29|   3.5|2005-04-02 23:31:16|
|     1|     32|   3.5|2005-04-02 23:33:39|
|     1|     47|   3.5|2005-04-02 23:32:07|
|     1|     50|   3.5|2005-04-02 23:29:40|
|     1|    112|   3.5|2004-09-10 03:09:00|
|     1|    151|     4|2004-09-10 03:08:54|
|     1|    223|     4|2005-04-02 23:46:13|
|     1|    253|     4|2005-04-02 23:35:40|
|     1|    260|     4|2005-04-02 23:33:46|
|     1|    293|     4|2005-04-02 23:31:43|
|     1|    296|     4|2005-04-02 23:32:47|
|     1|    318|     4|2005-04-02 23:33:18|
|     1|    337|   3.5|2004-09-10 03:08:29|
|     1|    367|   3.5|2005-04-02 23:53:00|
|     1|    541|     4|2005-04-02 23:30:03|
|     1|    589|   3.5|2005-04-02 23:45:57|
|     1|    593|   3.5|2005-04-02 23:31:01|
|     1|    653|     3|2004-09-10 03:08:11|
|     1|    919|   3.5|2004-09-10 03:07:01|
+------+-------+------+-------------------+
only showing top 20 rows

In [23]:
movies = spark.read\
  .format('org.apache.spark.sql.execution.datasources.csv.CSVFileFormat')\
  .option('header', 'true')\
  .load(cos.url('movie.csv', 'cs340spring20184b12f92a8d204278af3959660617b691'))
movies.show()

+-------+--------------------+--------------------+
|movieId|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

## Which "User" gave which "Tag" to which "Movie"?

In [24]:
user_tag_movie_joined = tags.join(genome_tags, on="tag")
user_tag_movie_joined.show()

+-----------------+------+-------+-------------------+-----+
|              tag|userId|movieId|          timestamp|tagId|
+-----------------+------+-------+-------------------+-----+
|        dark hero|    65|    208|2013-05-10 01:41:18|  288|
|        dark hero|    65|    353|2013-05-10 01:41:19|  288|
|    noir thriller|    65|    521|2013-05-10 01:39:43|  712|
|        dark hero|    65|    592|2013-05-10 01:41:18|  288|
|        bollywood|    65|    668|2013-05-10 01:37:56|  149|
| screwball comedy|    65|    898|2013-05-10 01:42:40|  894|
|    noir thriller|    65|   1248|2013-05-10 01:39:43|  712|
|             mars|    65|   1391|2013-05-10 01:40:55|  630|
|         neo-noir|    65|   1617|2013-05-10 01:43:37|  700|
|            jesus|    65|   1694|2013-05-10 01:38:45|  579|
|    noir thriller|    65|   1783|2013-05-10 01:39:43|  712|
|            jesus|    65|   2022|2013-05-10 01:38:45|  579|
|           dragon|    65|   2193|2013-05-10 02:01:54|  321|
|conspiracy theory|    65|   2353|2013-05-10 02:01:06|  252|
|             mars|    65|   2662|2013-05-10 01:40:55|  630|
|    noir thriller|    65|   2726|2013-05-10 01:39:43|  712|
|            jesus|    65|   2840|2013-05-10 01:38:45|  579|
|            jesus|    65|   3052|2013-05-10 01:38:46|  579|
|        bollywood|    65|   5135|2013-05-10 01:37:56|  149|
|         treasure|    65|   6539|2013-05-10 01:39:09| 1043|
+-----------------+------+-------+-------------------+-----+
only showing top 20 rows

In [25]:
user_tag_movie = user_tag_movie_joined.select(["userId","tagId","movieId"])
user_tag_movie.show()

+------+-----+-------+
|userId|tagId|movieId|
+------+-----+-------+
|    65|  288|    208|
|    65|  288|    353|
|    65|  712|    521|
|    65|  288|    592|
|    65|  149|    668|
|    65|  894|    898|
|    65|  712|   1248|
|    65|  630|   1391|
|    65|  700|   1617|
|    65|  579|   1694|
|    65|  712|   1783|
|    65|  579|   2022|
|    65|  321|   2193|
|    65|  252|   2353|
|    65|  630|   2662|
|    65|  712|   2726|
|    65|  579|   2840|
|    65|  579|   3052|
|    65|  149|   5135|
|    65| 1043|   6539|
+------+-----+-------+
only showing top 20 rows

## Let's ask every "User": How relevant is that "tag" for that "movie", ha?
<img src='https://heidelblog.net/wp-content/uploads/2013/06/critic.jpg' />

In [26]:
user_tag_movie_relevance = user_tag_movie.join(genome_scores, ((user_tag_movie.tagId==genome_scores.tagId)
                                                               and (user_tag_movie.movieId == genome_scores.movieId)))
user_tag_movie_relevance.show()

ValueError: Cannot convert column into bool: please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.

# I may look like Python, but ...
# I am actually java

In [27]:
user_tag_movie_relevance = user_tag_movie.join(genome_scores, ((user_tag_movie.tagId==genome_scores.tagId) 
                                                               & (user_tag_movie.movieId == genome_scores.movieId)))
user_tag_movie_relevance.show()

+------+-----+-------+-------+-----+---------+
|userId|tagId|movieId|movieId|tagId|relevance|
+------+-----+-------+-------+-----+---------+
| 11074|    1|   2989|   2989|    1|  0.99975|
| 56174|    1|   2989|   2989|    1|  0.99975|
| 60710|    1|   2989|   2989|    1|  0.99975|
| 86768|    1|   2989|   2989|    1|  0.99975|
|105757|    1|   2989|   2989|    1|  0.99975|
| 88738|   10|  27271|  27271|   10|   0.6955|
|130827|   10|  27271|  27271|   10|   0.6955|
| 59025| 1003|   2124|   2124| 1003|   0.3385|
| 16724| 1007|  91094|  91094| 1007|  0.87125|
| 88738| 1007|  91094|  91094| 1007|  0.87125|
|  1587| 1013|   4878|   4878| 1013|  0.83225|
|  4660| 1013|   4878|   4878| 1013|  0.83225|
| 25737| 1013|   4878|   4878| 1013|  0.83225|
| 27898| 1013|   4878|   4878| 1013|  0.83225|
| 32541| 1013|   4878|   4878| 1013|  0.83225|
| 57763| 1013|   4878|   4878| 1013|  0.83225|
| 61843| 1013|   4878|   4878| 1013|  0.83225|
| 83982| 1013|   4878|   4878| 1013|  0.83225|
| 97195| 1013|   4878|   4878| 1013|  0.83225|
|107711| 1013|   4878|   4878| 1013|  0.83225|
+------+-----+-------+-------+-----+---------+
only showing top 20 rows

# Or...

In [28]:
user_tag_movie_relevance = user_tag_movie.join(genome_scores, on=["tagId","movieId"])
user_tag_movie_relevance.show()

+-----+-------+------+---------+
|tagId|movieId|userId|relevance|
+-----+-------+------+---------+
|    1|   2989| 11074|  0.99975|
|    1|   2989| 56174|  0.99975|
|    1|   2989| 60710|  0.99975|
|    1|   2989| 86768|  0.99975|
|    1|   2989|105757|  0.99975|
|   10|  27271| 88738|   0.6955|
|   10|  27271|130827|   0.6955|
| 1003|   2124| 59025|   0.3385|
| 1007|  91094| 16724|  0.87125|
| 1007|  91094| 88738|  0.87125|
| 1013|   4878|  1587|  0.83225|
| 1013|   4878|  4660|  0.83225|
| 1013|   4878| 25737|  0.83225|
| 1013|   4878| 27898|  0.83225|
| 1013|   4878| 32541|  0.83225|
| 1013|   4878| 57763|  0.83225|
| 1013|   4878| 61843|  0.83225|
| 1013|   4878| 83982|  0.83225|
| 1013|   4878| 97195|  0.83225|
| 1013|   4878|107711|  0.83225|
+-----+-------+------+---------+
only showing top 20 rows

# Remember this ...?
### First multiply relevance with 20 and then substract 12 so relevance score range will be between -12 and 8 and then apply hyperbolic tangent. That way relevance's range will be between -1 and 1.

In [29]:
from pyspark.sql.functions import col, tanh

In [32]:
users_reliability_flat = user_tag_movie_relevance.withColumn("reliability", tanh(user_tag_movie_relevance.relevance*20-12))\
                                            .select(["userId","reliability"])
users_reliability_flat.show()

+------+-------------------+
|userId|        reliability|
+------+-------------------+
| 11074| 0.9999997726676818|
| 56174| 0.9999997726676818|
| 60710| 0.9999997726676818|
| 86768| 0.9999997726676818|
|105757| 0.9999997726676818|
| 88738|  0.957085420564793|
|130827|  0.957085420564793|
| 59025|-0.9999426811764384|
| 16724| 0.9999611915372831|
| 88738| 0.9999611915372831|
|  1587| 0.9998153309323468|
|  4660| 0.9998153309323468|
| 25737| 0.9998153309323468|
| 27898| 0.9998153309323468|
| 32541| 0.9998153309323468|
| 57763| 0.9998153309323468|
| 61843| 0.9998153309323468|
| 83982| 0.9998153309323468|
| 97195| 0.9998153309323468|
|107711| 0.9998153309323468|
+------+-------------------+
only showing top 20 rows

In [33]:
users_reliability_flat.count()

206153

In [34]:
users_reliability = users_reliability_flat.groupBy("userId").avg()
users_reliability.show()

+------+--------------------+
|userId|    avg(reliability)|
+------+--------------------+
|111982|  0.5690469165024034|
| 80258|  0.9567662048431939|
| 49307|  0.9999462608511014|
| 92072|  0.7472656429959093|
| 79849|  0.9999971730256131|
| 89274|0.030434008661444568|
| 11563|  0.6247823679141723|
|119625|  0.7275098901796045|
|  6731|  0.9999996505317048|
| 70170|  0.6410873409222123|
|112480|  0.9999814358015412|
| 59370|  0.8275657303574266|
| 54798|  0.5630558543678916|
| 23918|  0.9999066771110212|
| 56525|  0.9979402195807233|
| 60733|  0.6665034028246085|
|128566|  0.9999995774056201|
| 39581|  0.3594432427158843|
| 79757|  0.9999987745652463|
|129005| 0.24929532350910683|
+------+--------------------+
only showing top 20 rows

In [35]:
users_reliability.count()

5419

# Don't forget to clean up!
## 1) Check column names
## 2) Sort

In [43]:
from pyspark.sql.functions import desc

users_reliability_sorted = users_reliability.select(["userId", col("avg(reliability)").alias("reliability")])\
                                            .sort(desc("reliability"))
users_reliability_sorted.show()

+------+------------------+
|userId|       reliability|
+------+------------------+
| 50441|0.9999997749296758|
| 81949|0.9999997749296758|
|136455|0.9999997726676818|
| 68839|0.9999997726676818|
|105357|0.9999997726676818|
|113642|0.9999997726676818|
| 23923|0.9999997726676818|
|119384|0.9999997726676818|
|136694|0.9999997726676818|
| 20109| 0.999999772656315|
| 52462|0.9999997712922528|
| 62725|0.9999997703829543|
| 75104|0.9999997703829543|
| 73204|0.9999997703829543|
|112350|0.9999997703829543|
| 36433|0.9999997703829543|
| 30718|0.9999997703829543|
|126600|0.9999997703829543|
|108176|0.9999997680752648|
|130819|0.9999997680752648|
+------+------------------+
only showing top 20 rows

## 2) Best Movies

<br>
<p style="text-indent: 40px">For the second part of this assignment, we are going to get best 20 movies from those 1000 people's scores. For each movie in the ratings, you should multiply rating with the users score that we previously calculated and get the total of this score for each movie.

In the end we should be able to see the titles of the first 20 movies ranked by this criteria.
</p>

In [44]:
users_reliability_ratings_movies = ratings.join(users_reliability_sorted, on="userId")
users_reliability_ratings_movies.show()

+------+-------+------+-------------------+------------------+
|userId|movieId|rating|          timestamp|       reliability|
+------+-------+------+-------------------+------------------+
|110629|    180|     5|2009-07-02 02:34:33|0.9999983033480123|
|110629|    223|     5|2009-09-27 01:01:58|0.9999983033480123|
|110629|    296|   4.5|2009-06-23 15:41:07|0.9999983033480123|
|110629|    527|   4.5|2009-06-23 03:53:04|0.9999983033480123|
|110629|    593|     5|2009-06-25 16:59:38|0.9999983033480123|
|110629|    858|     5|2009-06-23 15:41:45|0.9999983033480123|
|110629|    904|     5|2009-07-05 05:14:10|0.9999983033480123|
|110629|    909|   4.5|2009-06-29 20:14:10|0.9999983033480123|
|110629|   1089|     5|2009-06-23 15:41:11|0.9999983033480123|
|110629|   1090|     5|2009-06-23 03:52:18|0.9999983033480123|
|110629|   1193|   3.5|2009-06-25 12:13:24|0.9999983033480123|
|110629|   1208|     4|2009-06-28 18:14:32|0.9999983033480123|
|110629|   1213|   4.5|2009-06-23 21:36:14|0.9999983033480123|
|110629|   1221|   4.5|2009-06-23 15:42:21|0.9999983033480123|
|110629|   1222|     5|2009-06-23 15:41:03|0.9999983033480123|
|110629|   1259|   4.5|2009-06-28 18:02:26|0.9999983033480123|
|110629|   1270|   4.5|2009-06-27 23:34:24|0.9999983033480123|
|110629|   1291|     5|2009-06-27 23:32:57|0.9999983033480123|
|110629|   1476|   4.5|2009-06-23 03:48:33|0.9999983033480123|
|110629|   1639|   4.5|2009-07-11 14:28:29|0.9999983033480123|
+------+-------+------+-------------------+------------------+
only showing top 20 rows

In [45]:
movieId_reliableRating = users_reliability_ratings_movies.withColumn("reliable rating", col("rating")*col("reliability"))\
                                                         .select(["movieId", "reliable rating"])
movieId_reliableRating.show()

+-------+------------------+
|movieId|   reliable rating|
+-------+------------------+
|    180| 4.999991516740062|
|    223| 4.999991516740062|
|    296| 4.499992365066055|
|    527| 4.499992365066055|
|    593| 4.999991516740062|
|    858| 4.999991516740062|
|    904| 4.999991516740062|
|    909| 4.499992365066055|
|   1089| 4.999991516740062|
|   1090| 4.999991516740062|
|   1193| 3.499994061718043|
|   1208|3.9999932133920493|
|   1213| 4.499992365066055|
|   1221| 4.499992365066055|
|   1222| 4.999991516740062|
|   1259| 4.499992365066055|
|   1270| 4.499992365066055|
|   1291| 4.999991516740062|
|   1476| 4.499992365066055|
|   1639| 4.499992365066055|
+-------+------------------+
only showing top 20 rows

# Let's get the top 20 movies

In [47]:
movieId_reliableRating_grouped = movieId_reliableRating.groupBy("movieId").avg()
movieId_reliableRating_grouped.show()

+-------+--------------------+
|movieId|avg(reliable rating)|
+-------+--------------------+
|    296|   2.654962900328201|
|  62912|  1.1402280888994392|
| 102684|  1.9362270022404913|
|   3210|   2.045034845419718|
|   1090|  2.3551208946317463|
|   2294|   1.942734634130578|
|   4821|  1.7673208776860432|
|  48738|  2.3940513832661594|
|  88140|  2.0633206807528315|
|   2136|  1.7800796174370213|
|   6731|  2.1694492029355135|
|  89864|  2.3581543213509812|
| 100553|  4.2864741181551285|
|    829|   1.684357192668023|
|   2088|   1.328487369772138|
|   3959|  2.0277234420658643|
|  85022|  1.5618805283532795|
|   7762|  1.9883671284647568|
|  50802|  1.4794282532067442|
|  51063|  2.1557295837040904|
+-------+--------------------+
only showing top 20 rows

In [50]:
movieTitle_reliableRating = movieId_reliableRating_grouped.join(movies, on="movieId").select(["title","avg(reliable rating)"])
movieTitle_reliableRating.show()

+--------------------+--------------------+
|               title|avg(reliable rating)|
+--------------------+--------------------+
| Pulp Fiction (1994)|  2.6549629003282007|
|      Platoon (1986)|  2.3551208946317463|
|         Antz (1998)|  1.9427346341305778|
|Fast Times at Rid...|    2.04503484541972|
|Audition (Ôdishon...|  2.3000674140721618|
|Last King of Scot...|    2.39405138326616|
|High School Music...|  1.1402280888994392|
|Captain America: ...|  2.0633206807528293|
|        50/50 (2011)|  2.3581543213509804|
|He Was a Quiet Ma...|  2.1491198224754595|
|       Popeye (1980)|  1.3284873697721384|
|    Hall Pass (2011)|  1.5618805283532802|
|     Joy Ride (2001)|  1.7673208776860436|
|Day of the Dead (...|  2.1694492029355135|
|Beast Within, The...|  1.4514231443206984|
|Because I Said So...|  1.4794282532067438|
|Only God Forgives...|  1.9362270022404915|
|Nutty Professor, ...|  1.7800796174370217|
|Frozen Planet (2011)|   4.286474118155129|
|Joe's Apartment (...|  1.6843571926680225|
+--------------------+--------------------+
only showing top 20 rows

In [52]:
top_movies = movieTitle_reliableRating.sort(desc("avg(reliable rating)"))\
                                        .select(["title", col("avg(reliable rating)").alias("actual rating")])
top_movies.show()

+--------------------+-----------------+
|               title|    actual rating|
+--------------------+-----------------+
|Neurons to Nirvan...|4.999998863338409|
|My Left Eye Sees ...|4.999998370789587|
|      Slasher (2004)|4.999998370789587|
|  When I Walk (2013)|4.999998370789587|
|   Sun Kissed (2012)|4.999998370789587|
|     25 Watts (2001)| 4.99999801007798|
|Forest for the Tr...|4.999997851403223|
|Barchester Chroni...|4.999997756369244|
|Boy Meets Boy (2008)|4.999997756369244|
|       Alcina (2000)|4.999997756369244|
|  Junior Prom (1946)|4.999997756369244|
|Disney Sing Along...|4.999997756369244|
|Thomas Jefferson ...|4.999997756369244|
|       Angela (1995)|4.999997756369244|
|Keeping the Promi...|4.999997756369244|
|      Aakrosh (2010)|4.999997756369244|
|Ella Lola, a la T...|4.999997756369244|
|Prom Queen: The M...|4.999997756369244|
|Warm December, A ...|4.999997756369244|
|      Oranges (2004)|4.999997756369244|
+--------------------+-----------------+
only showing top 20 rows

# Best movie!
<img src='https://ia.media-imdb.com/images/M/MV5BMjc4ODYxNzkzMl5BMl5BanBnXkFtZTgwNjA3NzA0MTE@._V1_.jpg' />